# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# Others
*.zip
*.gz
.vs
Debug
AGBIC.sdf
AGBIC.sln
AGBIC.vcxproj
AGBIC.vcxproj.filters
AGBIC.vcxproj.user